{#**
 * Mollie       https://www.mollie.nl
 *
 * @author      Mollie B.V. <info@mollie.nl>
 * @copyright   Mollie B.V.
 * @license     https://github.com/mollie/PrestaShop/blob/master/LICENSE.md
 *
 * @see        https://github.com/mollie/PrestaShop
 * @codingStandardsIgnoreStart
 *#}

{% set subscriptionOptions = subscriptionOptionsForm %}

{% if subscriptionOptionsForm.subscription_options is defined and subscriptionOptionsForm.subscription_options %}
  {% set subscriptionOptions = subscriptionOptionsForm.subscription_options %}
{% endif %}

{% block subscription_options %}
  <div class="row">
    <div class="col">
      {{ form_start(subscriptionOptionsForm, {method: 'POST', action: path('admin_subscription_options_submit'), attr: {id: 'subscription-options'}}) }}
      <div class="card">
        <h3 class="card-header">
          <i class="material-icons">settings</i> {{ 'Subscription options'|trans }}
        </h3>
        <div class="card-block row">
          <div class="card-text">
            <div class="form-group row">
              {# TODO translations will be enabled only after we will migrate to moden translation system #}
              {{ ps.label_with_help('Carrier to use in subscription orders'|trans, 'WARNING: do not change selection after getting first subscription order.'|trans) }}
              <div class="col-sm">
                {{ form_errors(subscriptionOptions.carrier) }}
                {{ form_widget(subscriptionOptions.carrier) }}
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary"
                    id="save-invoices-options-button">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
          </div>
        </div>
      </div>
      {{ form_rest(subscriptionOptionsForm) }}
      {{ form_end(subscriptionOptionsForm) }}
    </div>
  </div>
{% endblock %}
