{#**
 * Mollie       https://www.mollie.nl
 *
 * @author      Mollie B.V. <info@mollie.nl>
 * @copyright   Mollie B.V.
 * @license     https://github.com/mollie/PrestaShop/blob/master/LICENSE.md
 *
 * @see        https://github.com/mollie/PrestaShop
 * @codingStandardsIgnoreStart
 *#}

{% import '@PrestaShop/Admin/macros.html.twig' as ps %}

{% set subscriptionOptions = subscriptionOptionsForm %}

{% if subscriptionOptionsForm.subscription_options is defined and subscriptionOptionsForm.subscription_options %}
  {% set subscriptionOptions = subscriptionOptionsForm.subscription_options %}
{% endif %}

{% block subscription_options %}
  <!-- DEBUG: Translations array exists: {{ translations is defined ? 'YES' : 'NO' }} -->
  <!-- DEBUG: Translations content: {{ translations|json_encode }} -->
  <div class="row">
    <div class="col">
      {{ form_start(subscriptionOptionsForm, {method: 'POST', action: path('admin_subscription_options_submit'), attr: {id: 'subscription-options'}}) }}
      <div class="card">
        <h3 class="card-header">
          <i class="material-icons">settings</i> {{ translations.subscription_options }}
          <!-- DEBUG: {{ translations.subscription_options|default('TRANSLATION NOT FOUND') }} -->
        </h3>
        <div class="card-block row">
          <div class="card-text px-3">
            <div class="form-group row">
              {{ ps.label_with_help(translations.enable_subscription_service, translations.enable_subscription_service_help) }}
              <div class="col-sm">
                {{ form_errors(subscriptionOptions.enable_subscriptions) }}
                {{ form_widget(subscriptionOptions.enable_subscriptions) }}
              </div>
            </div>
            <div class="form-group row">
              {{ ps.label_with_help(translations.carrier_warning, translations.carrier_warning_text) }}
              <div class="col-sm">
                {{ form_errors(subscriptionOptions.carrier) }}
                {{ form_widget(subscriptionOptions.carrier) }}
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary"
                    id="save-invoices-options-button">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
          </div>
        </div>
      </div>
      {{ form_rest(subscriptionOptionsForm) }}
      {{ form_end(subscriptionOptionsForm) }}
    </div>
  </div>
{% endblock %}
