{#**
 * Mollie       https://www.mollie.nl
 *
 * @author      Mollie B.V. <info@mollie.nl>
 * @copyright   Mollie B.V.
 * @license     https://github.com/mollie/PrestaShop/blob/master/LICENSE.md
 *
 * @see        https://github.com/mollie/PrestaShop
 * @codingStandardsIgnoreStart
 *#}

{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% set help_link = false %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <h3 class="card-header">
          <i class="material-icons">info_outline</i> {{ subscriptionCreationTittle|escape }}
        </h3>
        <div class="card-block">
          <div class="card-text">
            <p>{{ subscriptionCreation|escape }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <h3 class="card-header">
          <i class="material-icons">info_outline</i> {{ importantInformationTittle|escape }}
        </h3>
        <div class="card-block">
          <div class="card-text">
            <p>{{ importantInformation|escape }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <h3 class="card-header">
          <i class="material-icons">info_outline</i> {{ carrierInformationTitle|escape }}
        </h3>
        <div class="card-block">
          <div class="card-text">
            <p>{{ carrierInformation1|escape }}</p>
            <p>{{ carrierInformation2|escape }}</p>
            <p>{{ carrierInformation3|escape }}</p>
            <p>{{ carrierInformation4|escape }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <h3 class="card-header">
          <i class="material-icons">info_outline</i> {{ cartRuleTitle|escape }}
        </h3>
        <div class="card-block">
          <div class="card-text">
            <p>{{ cartRule1|escape }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <h3 class="card-header">
          <i class="material-icons">info_outline</i> {{ giftWrappingTitle|escape }}
        </h3>
        <div class="card-block">
          <div class="card-text">
            <p>{{ giftWrapping1|escape }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <h3 class="card-header">
          <i class="material-icons">info_outline</i> {{ subscriptionOrderLogicTitle|escape }}
        </h3>
        <div class="card-block">
          <div class="card-text">
            <p>{{ recurringOrderCreation|escape }}</p>
            <p>{{ recurringOrderPrice|escape }}</p>
            <p>{{ recurringOrderAPIChanges|escape }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('../modules/mollie/views/assets/compiled/subscription.bundle.js') }}"></script>
{% endblock %}
